In [1]:
import pandas as pd
import os
import numpy as nu

In [2]:
main_path = 'C:\\Users\\e347646\\EDP\\O365_P&C Data Lake - Documents\\General'
df_out_file = 'Output\F00_FC20.csv'
df_out_file_error = 'Output\F00_FC20_error.csv'
df_out_fullpath_error = os.path.join(main_path,df_out_file_error)
df_out_fullpath = os.path.join(main_path,df_out_file)

In [3]:
df_monthly_fullpath = os.path.join(main_path,'DataSources\\Actuals\\Output\\monthly_pl&bs_2020.csv')
 
df_fx_fullpath = os.path.join(main_path,'MetaDataSources\\FX\\FX.xlsx')

In [4]:
df_company_fullpath_08=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\08\\Scope 8M20.csv')
df_company_fullpath_07=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\07\\Scope 7M20.csv')
df_company_fullpath_06=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\06\\Scope 6M20.csv')
df_company_fullpath_05=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\05\\Scope 5M20.csv')
df_company_fullpath_04=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\04\\Scope 4M20.csv')
df_company_fullpath_03=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\03\\Scope 3M20.csv')
df_company_fullpath_02=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\02\\Scope 2M20.csv')
df_company_fullpath_01=os.path.join(main_path,'MetaDataSources\\\Company\\Source\\2020\\01\\Scope 1M20.csv')

In [5]:
#df_company_fullpath=pd.concat(df_company_fullpath_01,df_company_fullpath_02,df_company_fullpath_03,df_company_fullpath_04,df_company_fullpath_05,df_company_fullpath_06,df_company_fullpath_07,df_company_fullpath_08)

In [6]:
df_monthly = pd.read_csv(df_monthly_fullpath)

In [7]:
#data_xls = pd.read_excel('excelfile.xlsx', 'Sheet2', index_col=None)
#data_xls.to_csv('csvfile.csv', encoding='utf-8')

In [8]:
df_fx = pd.read_excel(df_fx_fullpath)

In [9]:
df_company_01= pd.read_csv(df_company_fullpath_01,  encoding="utf-16")
df_company_02= pd.read_csv(df_company_fullpath_02,  encoding="utf-16")
df_company_03= pd.read_csv(df_company_fullpath_03,  encoding="utf-16")
df_company_04= pd.read_csv(df_company_fullpath_04,  encoding="utf-16")
df_company_05= pd.read_csv(df_company_fullpath_05,  encoding="utf-16")
df_company_06= pd.read_csv(df_company_fullpath_06,  encoding="utf-16")
df_company_07= pd.read_csv(df_company_fullpath_07,  encoding="utf-16")
df_company_08= pd.read_csv(df_company_fullpath_08,  encoding="utf-16")
#df_company = pd.read_csv(df_company_fullpath,  encoding="utf-16")

In [10]:
df_company_01

,Reporting unit (code),Reporting unit (description),Revised method (Closing),Revised Conso. (Closing),Revised Own. Int. (Closing),Revised Fin. Int. (Closing),Revised method (Opening package),Revised Conso. (Opening package),Revised Own. Int. (Opening package),Revised Fin. Int. (Opening package),...,EDPR-BR Scope,EDPR-OF Scope,Scope,Scope-Check,Country,Management Structure,D_CU,SAP Code_PreAdj,SAP description,SAP Code
0,3000,"EDP Renováveis, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,GR-EDP-RENOV,True,ESP,S1290000,EUR,2270,EDP RENOVAVEIS SL,2270
1,3001,"EDP Renewables Europe, S.L.U.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,NEO-3,True,ESP,S1211900,EUR,HC85,"EDP Renewables Europe, S.L.",HC85
2,3002,"EDP Renovables España, S.L.U.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,HC80,"EDP Renovables España, S. L. (ex-GENESA-2)",HC80
3,3016,"Aprofitament D'Energies Renovables de L'Ebre, ...",Equity method (EM),13.294891,13.294891,13.294891,Equity method (EM),13.294891,13.294891,13.294891,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,T539,"Aprofitament D'Energies Renovables de L'Ebre, ...",T539
4,3017,Aprofitament D'Energies Renovables de la Terra...,Full (FC),100.000000,28.270364,44.089679,Full (FC),100.000000,28.270364,44.089679,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,T540,Aprofitament D'Energies Renovables de la Terra...,T540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,3963,Nation Rise Wind Farm GP II Inc.,Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,EDPR-NA,True,CAN,S1212112,CAD,C127,Nation Rise Wind Farm GP II Inc.,C127
529,3964,Quatro Limited Partnership,Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,EDPR-NA,True,CAN,S1212112,CAD,C128,Quatro Limited Partnership,C128
530,3991,"Central Eólica Catanduba I, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,EDPR-BR,NaN,EDPR-BR,True,BRA,S1212211,BRL,B161,"Central Eólica Catanduba I, S.A.",B161
531,3992,"Central Eólica Catanduba II, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,EDPR-BR,NaN,EDPR-BR,True,BRA,S1212211,BRL,B162,"Central Eólica Catanduba II, S.A.",B162
532,6009,"Windplus, S.A.",Equity method (EM),54.400000,54.400000,54.400000,Equity method (EM),54.400000,54.400000,54.400000,...,NaN,EDPR-OF,EDPR-OF,True,PRT,S9211110,EUR,2105,"WINDPLUS, S.A.",2105

In [11]:
#df_company= pd.merge(df_company_01, df_company_02, df_company_03, df_company_04, df_company_05, df_company_06, df_company_07, df_company_08, how='outer', on=['Reporting unit (code)'])

In [12]:
df_company= pd.concat([df_company_01, df_company_02, df_company_03, df_company_04, df_company_05, df_company_06, df_company_07, df_company_08], ignore_index=True)

In [13]:
df_company

,Reporting unit (code),Reporting unit (description),Revised method (Closing),Revised Conso. (Closing),Revised Own. Int. (Closing),Revised Fin. Int. (Closing),Revised method (Opening package),Revised Conso. (Opening package),Revised Own. Int. (Opening package),Revised Fin. Int. (Opening package),...,EDPR-BR Scope,EDPR-OF Scope,Scope,Scope-Check,Country,Management Structure,D_CU,SAP Code_PreAdj,SAP description,SAP Code
0,3000,"EDP Renováveis, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,GR-EDP-RENOV,True,ESP,S1290000,EUR,2270,EDP RENOVAVEIS SL,2270
1,3001,"EDP Renewables Europe, S.L.U.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,NEO-3,True,ESP,S1211900,EUR,HC85,"EDP Renewables Europe, S.L.",HC85
2,3002,"EDP Renovables España, S.L.U.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,HC80,"EDP Renovables España, S. L. (ex-GENESA-2)",HC80
3,3016,"Aprofitament D'Energies Renovables de L'Ebre, ...",Equity method (EM),13.294891,13.294891,13.294891,Equity method (EM),13.294891,13.294891,13.294891,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,T539,"Aprofitament D'Energies Renovables de L'Ebre, ...",T539
4,3017,Aprofitament D'Energies Renovables de la Terra...,Full (FC),100.000000,28.270364,44.089679,Full (FC),100.000000,28.270364,44.089679,...,NaN,NaN,NEO-3,True,ESP,S1211112,EUR,T540,Aprofitament D'Energies Renovables de la Terra...,T540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4388,3963,Nation Rise Wind Farm GP II Inc.,Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,EDPR-NA,True,CAN,S1212112,CAD,C127,Nation Rise Wind Farm GP II Inc.,C127
4389,3964,Quatro Limited Partnership,Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,NaN,NaN,EDPR-NA,True,CAN,S1212112,CAD,C128,Quatro Limited Partnership,C128
4390,3991,"Central Eólica Catanduba I, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,EDPR-BR,NaN,EDPR-BR,True,BRA,S1212211,BRL,B161,"Central Eólica Catanduba I, S.A.",B161
4391,3992,"Central Eólica Catanduba II, S.A.",Full (FC),100.000000,100.000000,100.000000,Full (FC),100.000000,100.000000,100.000000,...,EDPR-BR,NaN,EDPR-BR,True,BRA,S1212211,BRL,B162,"Central Eólica Catanduba II, S.A.",B162
4392,6009,"Windplus, S.A.",Not consolidated (NC),0.000000,0.000000,0.000000,Equity method (EM),54.400000,54.400000,54.400000,...,NaN,EDPR-OF,EDPR-OF,True,PRT,S9211110,EUR,2105,"WINDPLUS, S.A.",2105

In [14]:
df_monthly.columns

Index(['D_RU', 'D_AC', 'T1', 'D_AU', 'D_FL', 'EUR_Amount', 'D_LE', 'D_NU',
       'D_PE', 'D_SP', 'D_CO', 'D_SC'],
      dtype='object')

In [15]:
df_fx

    CURRENCY  FX_RATE_FINAL  FX_RATE_AVG     PERIOD Scenario
0        GBP        0.87578     0.886399 2019-01-01  Actuals
1        PLN        4.27360     4.292022 2019-01-01  Actuals
2        RON        4.72710     4.704326 2019-01-01  Actuals
3        BRL        4.20410     4.277548 2019-01-01  Actuals
4        USD        1.14880     1.141787 2019-01-01  Actuals
..       ...            ...          ...        ...      ...
361      RON        4.84040     4.821777 2020-08-01  Actuals
362      USD        1.19400     1.118047 2020-08-01  Actuals
363      ZAR       19.95890    18.672779 2020-08-01  Actuals
364      NaN            NaN          NaN        NaT      NaN
365                     NaN          NaN        NaT      NaN

[366 rows x 5 columns]

In [16]:
df_fx=df_fx[df_fx['PERIOD']=='2020-08-01']

In [17]:
df_fx=df_fx[df_fx['Scenario']=='Actuals']

In [18]:
df_fx = df_fx.rename({'CURRENCY': 'D_CU'}, axis='columns')

In [19]:
df_fx

    D_CU  FX_RATE_FINAL  FX_RATE_AVG     PERIOD Scenario
349  BRL        6.47390     5.618604 2020-08-01  Actuals
350  CAD        1.56010     1.516661 2020-08-01  Actuals
351  CNY        8.17110     7.844130 2020-08-01  Actuals
352  COP     4489.89372  4130.989140 2020-08-01  Actuals
353  EUR        1.00000     1.000000 2020-08-01  Actuals
354  GBP        0.89605     0.881747 2020-08-01  Actuals
355  HUF      354.54000   346.418889 2020-08-01  Actuals
356  JPY      126.47000   120.454912 2020-08-01  Actuals
357  KRW     1415.76000  1344.416374 2020-08-01  Actuals
358  MOP        9.53120     8.934587 2020-08-01  Actuals
359  MXN       26.09380    24.387303 2020-08-01  Actuals
360  PLN        4.39690     4.416779 2020-08-01  Actuals
361  RON        4.84040     4.821777 2020-08-01  Actuals
362  USD        1.19400     1.118047 2020-08-01  Actuals
363  ZAR       19.95890    18.672779 2020-08-01  Actuals

In [20]:
df_company.columns

Index(['Reporting unit (code)', 'Reporting unit (description)',
       'Revised method (Closing)', 'Revised Conso. (Closing)',
       'Revised Own. Int. (Closing)', 'Revised Fin. Int. (Closing)',
       'Revised method (Opening package)', 'Revised Conso. (Opening package)',
       'Revised Own. Int. (Opening package)',
       'Revised Fin. Int. (Opening package)', 'Scope status (Closing)',
       'EDPR-NA Scope', 'NEO-3 Scope', 'EDPR-BR Scope', 'EDPR-OF Scope',
       'Scope', 'Scope-Check', 'Country', 'Management Structure', 'D_CU',
       'SAP Code_PreAdj', 'SAP description', 'SAP Code'],
      dtype='object')

In [21]:
df_merged_RU_fx = pd.merge(df_company,df_fx,  how='left', on='D_CU')

In [22]:
df_merged_RU_fx = df_merged_RU_fx.rename({'Reporting unit (code)': 'D_RU'}, axis='columns')

In [23]:
df_merged_RU_fx.columns

Index(['D_RU', 'Reporting unit (description)', 'Revised method (Closing)',
       'Revised Conso. (Closing)', 'Revised Own. Int. (Closing)',
       'Revised Fin. Int. (Closing)', 'Revised method (Opening package)',
       'Revised Conso. (Opening package)',
       'Revised Own. Int. (Opening package)',
       'Revised Fin. Int. (Opening package)', 'Scope status (Closing)',
       'EDPR-NA Scope', 'NEO-3 Scope', 'EDPR-BR Scope', 'EDPR-OF Scope',
       'Scope', 'Scope-Check', 'Country', 'Management Structure', 'D_CU',
       'SAP Code_PreAdj', 'SAP description', 'SAP Code', 'FX_RATE_FINAL',
       'FX_RATE_AVG', 'PERIOD', 'Scenario'],
      dtype='object')

In [24]:
df_merged_RU_fx=df_merged_RU_fx[['D_RU','D_CU', 'FX_RATE_FINAL','FX_RATE_AVG', 'PERIOD', 'Scenario']]

In [25]:
df_merged_RU_fx_filtro= df_merged_RU_fx[df_merged_RU_fx['D_RU']=="6009"]

In [26]:
df_monthly_filtro=df_monthly[df_monthly['D_RU']=="6009"]

In [27]:
df_monthly['D_RU']= df_monthly['D_RU'].astype(str)
df_merged_RU_fx['D_RU']= df_merged_RU_fx['D_RU'].astype(str)

In [28]:
df_merged=pd.merge(df_monthly, df_merged_RU_fx, how='left', on=['D_RU'])

In [29]:
df_merged_filtro=df_merged[df_merged['D_RU']=="6009"]

In [30]:
df_merged_PL=df_merged[df_merged['D_AC'].str[0]=='R']

In [31]:
df_merged_PL['LC_Amount']=df_merged_PL.apply(lambda row : row['EUR_Amount'] * row['FX_RATE_AVG'], axis=1)

In [32]:
#df_merged_A=df_merged[df_merged['D_AC'].str[0]=='A']
#df_merged_P=df_merged[df_merged['D_AC'].str[0]=='P']

In [33]:
#df_merged_BS= pd.merge(df_merged_A,df_merged_P,  how='outer')

In [34]:
#df_merged_A=df_merged[df_merged['D_AC'].str[0]=='A' or df_merged['D_AC'].str[0]=='P']

df_BS=df_merged[df_merged['D_AC'].str[0]!='R']

In [37]:
df_BS['LC_Amount']=df_BS.apply(lambda row : row['EUR_Amount'] * row['FX_RATE_FINAL'], axis=1)

In [468]:
#df_monthly_lc = pd.merge(df_merged_BS,df_merged_PL,  how='outer')
df_monthly_lc= pd.concat([df_BS, df_merged_PL], ignore_index=True)

In [469]:
df_monthly_lc.to_csv(df_out_fullpath, index=False)

In [470]:
df_monthly_lc_error = df_monthly_lc[df_monthly_lc['D_CU']=="NaN"]

In [471]:
df_monthly_lc_error.to_csv(df_out_fullpath_error)